.products {
  padding-top: 70px;
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  &__card {
    box-shadow: 1px 1px 10px #aaa7;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }

  &__card__img {
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px 10px;
    button {
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid blue;
      background-color: blue;
      color: white;
    }
  }

  &__card__info {
    padding: 10px;
  }

  &__title {
    font-size: 30px;
    padding: 10px 0px;
  }

  &__like {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  @media (max-width: 900px) {
    &__cards {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
  }
  @media (max-width: 650px) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }
  @media (max-width: 450px) {
    &__cards {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }
  }
}
