.header {
  padding: 15px 0px;
  box-shadow: 1px 1px 10px #aaa6;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav__logo {
    font-size: 30px;
    font-weight: 600;
  }

  &__nav__item {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__nav__link {
    font-size: 18px;
  }

  &__nav__link.active {
    color: red;
  }

  @media (max-width: 320px) {
    &__nav__logo {
      display: none;
    }

    &__nav {
      text-align: center;
    }
  }
}
